@import "node_modules/sass-google-fonts/src/GoogleFonts.scss";

@include google-font('Roboto Mono');

html, body {
    font-family: 'Roboto Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@media screen and (max-width: 768px) {
  .md-hide {
    display: none;
  }
  .half-width {
    width: 50%;
  }
  .full-width {
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  .md-show {
    display: none;
  }
}
