name: bench
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    env:
      PROFILE: /tmp/.tmpprofile
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-20.04]
        lang:
          [
            c,
            cpp,
            csharp,
            crystal,
            d,
            dart,
            elixir,
            fortran,
            go,
            haskell,
            haxe,
            java,
            javascript,
            julia,
            kotlin,
            lisp,
            lua,
            nim,
            ocaml,
            python,
            racket,
            ruby,
            rust,
            swift,
            typescript,
            vlang,
            wasm,
            wren,
            zig,
          ]
    steps:
      - uses: actions/checkout@v2
      - name: Install
        run: |
          lscpu
          echo '# placeholder' >> $PROFILE
      - name: Install rust stable
        uses: actions-rs/toolchain@v1
        if: matrix.lang == 'rust' || matrix.lang == 'wasm'
        with:
          toolchain: stable
          override: true
      - name: Install rust nightly
        if: matrix.lang == 'rust'
        run: rustup update nightly
      - name: Install graal
        if: matrix.lang == 'java' || matrix.lang == 'javascript' || matrix.lang == 'python' || matrix.lang == 'ruby' || matrix.lang == 'wasm'
        run: sudo ./.github/graalvm.sh
      - name: Install c deps
        if: matrix.lang == 'c'
        run: sudo ./.github/c.sh
      - name: Install lisp
        if: matrix.lang == 'lisp'
        env:
          LISP: sbcl-bin
        run: sudo ./.github/lisp.sh
      - name: Install racket
        if: matrix.lang == 'racket'
        run: sudo ./.github/racket.sh
      - name: Install fortran
        if: matrix.lang == 'fortran'
        run: sudo ./.github/fortran.sh
      - name: Install loom
        if: matrix.lang == 'java' || matrix.lang == 'kotlin'
        run: sudo ./.github/loom.sh
      - name: Install graalvm native-image
        if: matrix.lang == 'java'
        run: sudo ./.github/graalvm-native-image.sh
      - name: Install graalnode
        if: matrix.lang == 'javascript'
        run: sudo ./.github/graalvm-node.sh
      - name: Install zig
        if: matrix.lang == 'zig' || matrix.lang == 'c' || matrix.lang == 'cpp'
        run: sudo ./.github/zig.sh
      - name: Install crystal
        if: matrix.lang == 'crystal'
        run: sudo ./.github/crystal.sh
      - name: Install python
        if: matrix.lang == 'python'
        run: sudo ./.github/python.sh
      - name: Install ruby
        if: matrix.lang == 'ruby'
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3 # Not needed with a .ruby-version file
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Install truffleruby
        if: matrix.lang == 'ruby'
        run: sudo ./.github/truffleruby.sh
      # - name: Install dart
      #   if: matrix.lang == 'dart'
      #   run: sudo ./.github/dart.sh
      - name: Install vlang
        if: matrix.lang == 'vlang'
        run: sudo ./.github/v.sh
      - name: Install deno
        if: matrix.lang == 'typescript' || matrix.lang == 'wasm'
        run: sudo ./.github/deno.sh
      - name: Install wasm
        if: matrix.lang == 'wasm'
        run: sudo ./.github/wasm.sh
      - name: Build
        run: |
          source $PROFILE
          pushd bench
          dotnet run -c Release -p tool -- --task build --langs ${{ matrix.lang }} 
          popd
      - name: Test
        run: |
          source $PROFILE
          pushd bench
          dotnet run -c Release -p tool -- --task test --langs ${{ matrix.lang }} 
          popd
      - uses: actions/upload-artifact@v2
        with:
          name: build
          path: bench/build/**/*
          if-no-files-found: error
  bench:
    if: github.ref == 'refs/heads/main'
    needs: [build]
    runs-on: ${{ matrix.os }}
    env:
      PROFILE: /tmp/.tmpprofile
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-20.04]
    steps:
      - name: Install
        run: |
          lscpu
          echo '# placeholder' > $PROFILE
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: build
          path: bench/build/
      - run: sudo ./.github/graalvm.sh
      - run: sudo ./.github/graalvm-node.sh
      - run: sudo ./.github/truffleruby.sh
      - run: sudo ./.github/wasm.sh
      - run: sudo ./.github/loom.sh
      # - run: sudo ./.github/dart.sh
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3 # Not needed with a .ruby-version file
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Bench
        run: |
          source $PROFILE
          pushd bench
          dotnet run -c Release -p tool -- --task bench --ignore-missing
          popd
      - uses: actions/upload-artifact@v2
        with:
          name: log
          path: bench/build/_results/**/*
          if-no-files-found: error
  publish:
    if: github.ref == 'refs/heads/main'
    needs: [bench]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          # Artifact name
          name: log
          # Destination path
          path: bench/build/_results/
      - name: Install
        run: |
          ls -al bench/build/_results/
      - name: Site Update Content
        run: |
          pushd website
          yarn
          yarn content
      - name: Site Publish
        if: github.ref == 'refs/heads/main'
        env:
          VERCEL_PUBLISH_TOKEN: ${{ secrets.VERCEL_PUBLISH_TOKEN }}
        run: |
          yarn global add vercel
          export PATH="$(yarn global bin):$PATH"
          vercel website --prod -c -C -t $VERCEL_PUBLISH_TOKEN || echo 'ignore errors'
