name: bench
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  bench:
    runs-on: ${{ matrix.os }}
    env:
      PROFILE: /tmp/.tmpprofile
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-20.04]
        lang: [csharp, dart, go, haskell, java, javascript, julia, kotlin, nim, python, rust, swift, typescript, vlang]
    steps:
      - uses: actions/checkout@v2
      - name: Install dart
        if: matrix.lang == 'dart'
        run: |
          sudo sh -c 'wget -qO- https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -'
          sudo sh -c 'wget -qO- https://storage.googleapis.com/download.dartlang.org/linux/debian/dart_stable.list > /etc/apt/sources.list.d/dart_stable.list'
          sudo apt-get update -y
          sudo apt-get install dart -y
          echo 'export PATH="$PATH:/usr/lib/dart/bin"' >> $PROFILE
      - name: Install vlang
        if: matrix.lang == 'vlang'
        run: |
          docker run --rm -v /tmp/hostlib/:/working/ -w /working/ thevlang/vlang:alpine cp /lib/ld-musl-x86_64.so.1 .
          sudo cp /tmp/hostlib/ld-musl-x86_64.so.1 /lib/
      - name: Install deno
        if: matrix.lang == 'typescript'
        run: |
          curl -fsSL https://deno.land/x/install/install.sh | sh
          echo 'export PATH=$HOME/.deno/bin:$PATH' >> $PROFILE
      - name: Install haskell
        if: matrix.lang == 'haskell'
        run: |
          stack upgrade
      - name: Install wasm
        if: matrix.lang == 'rust'
        run: |
          curl https://get.wasmer.io -sSfL | sh
          cat $HOME/.wasmer/wasmer.sh >> $PROFILE
          curl https://wasmtime.dev/install.sh -sSf | bash
          echo 'PATH=$HOME/.wasmtime/bin:$PATH' >> $PROFILE
          cat $PROFILE
      - name: Install
        run: echo '# placeholder' >> $PROFILE
      - name: Build
        run: |
          source $PROFILE
          pushd bench
          dotnet run -c Release -p tool -- --task build --langs ${{ matrix.lang }} 
          popd
      - name: Test
        run: |
          source $PROFILE
          pushd bench
          dotnet run -c Release -p tool -- --task test --langs ${{ matrix.lang }} 
          popd
      - name: Bench
        run: |
          source $PROFILE
          pushd bench
          dotnet run -c Release -p tool -- --task bench --langs ${{ matrix.lang }} 
          popd
      - uses: actions/upload-artifact@v2
        with:
          name: log
          path: bench/build/_results/**/*.json
          if-no-files-found: error
  publish:
    needs: [bench]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
    steps:
      - uses: actions/checkout@v2
      - name: Download a Build Artifact
        uses: actions/download-artifact@v2
        with:
          # Artifact name
          name: log
          # Destination path
          path: bench/build/_results/
      - name: Install
        run: |
          ls -al bench/build/_results/
      - name: Site Update Content
        run: |
          pushd website
          yarn
          yarn content
      - name: Site Publish
        if: github.ref == 'refs/heads/main'
        env:
          VERCEL_PUBLISH_TOKEN: ${{ secrets.VERCEL_PUBLISH_TOKEN }}
        run: | 
          yarn global add vercel
          export PATH="$(yarn global bin):$PATH"
          vercel website --prod -f -c -C -t $VERCEL_PUBLISH_TOKEN
 
